<%= link_to 'New', new_admin_project_path %>

<table>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.description %></td>
      <td><%= link_to 'Edit', edit_admin_project_path(project) %></td>
      <td><%= link_to 'Delete', admin_project_path(project), method: :delete %></td>
    </tr>
  <% end %>
</table>